version: '3.9'
services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: spikyhair
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - postgres
    ports:
      - "8095:8095"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/spikyhair
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 12345678   # ← CONTRASEÑA IGUAL

volumes:
  postgres_data:
