<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/register.css}" />
</head>
<body>
    <div class="register-container">
        <img src="/uploads/logox.jpg" alt="Logo Peluquería" class="logo-register" />
        <h2>Registro de Usuario</h2>
        <form th:action="@{/auth/register}" method="post" th:object="${usuario}">
            <label for="nombre">Nombre:</label>
            <input type="text" th:field="*{nombre}" required />

            <label for="telefono">Teléfono:</label>
            <input type="text" th:field="*{telefono}" required />

            <label for="email">Correo:</label>
            <input type="email" th:field="*{email}" required />

            <label for="contrasena">Contraseña:</label>
            <input type="password" th:field="*{contrasena}" required />

            <button type="submit">Registrarse</button>
        </form>

        <div class="login-link">
            <p>¿Ya tienes una cuenta? <a th:href="@{/auth/login}">Inicia sesión aquí</a></p>
        </div>
    </div>
</body>
</html>
